# ignore temp files w/ trailing ~. I think I stopped Gedit from doing this.
*~

# ignore hidden files
.*

# ignore files with the rolling extensions
*.DS_Store
*.Rhistory
*.Rapp.history
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.spl
*.synctex.gz
*.bib.bak
*.tex
*.ps
*.dvi
*.fdb_latexmk
*.R
*.rds
*.csv
*.xlsx


# ignore my old files and other irrelevant directories
# Also, students should definitely not have access to some of this stuff.
0-private
dross*
readings*
analysis/dross*
1-old-fall-2013
attendance
gradesheets
test-bank
midterm1
bdm-resources
student-drafts
midterm2
midterm2-addendum
final
fls-resources
map-quiz
syllabus/old*
syllabus/cyprus*
syllabus/sum*
syllabus/figs*
syllabus/new
cache
figs
1-lectures
_readings

# Ignore some jekyll stuff
_site
.sass-cache



# don't ignore the .gitignore file
!.gitignore
.Rproj.user
